* {
    margin: 0;
    padding: 0;
}


body{
    background-color: var(--cor-secundaria);
    font-family: var(--fonte-principal);  
}


:root {
    --claro: rgba(213, 212, 212, 0.762);
    --cor-principal: rgb(78, 78, 173);
    --cor-secundaria: white;
    --cinza: gray;
    --fonte-principal: "Open Sans";
    --preto: rgb(21, 19, 19);
    --fonte-titulo: "Orbitron";
}

.cabecalho__titulo {
background-color: var(--claro);
font-family: var(--fonte-principal);
font-size: 1.5em;
font-weight: 700;
text-align: center;
padding: 1em;
font-family: var(--fonte-titulo);
}

.principal__titulo {
    margin: 2em;
    text-align: center;
}

.principal {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.botao__rodar {
    font-size: 1.5em;
    margin-top: 2em;
    color: black;
    background-color: rgb(147, 160, 150);
    text-decoration: none;
    border-radius: 1em;
    padding: 6px;
    font-weight: 600;
    margin-left: 2em;
}

.botao__rodar:hover {
    background-color:rgb(46, 46, 46);
    color: white;
}

.botao {
    margin: 0 3em;
    font-size: 1.5em;
    font-weight: 500;
    color: var(--preto);
    border: 3px black solid;
    border-radius: 1em;
    padding: 0.5em 1em;
}

.botao:hover {
    color: rgb(132, 132, 132);
}

.container {
    margin-top: 50px;
    margin-left: 6em;
}
  
.menu {
    display: none;
}

.colunas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: var(--claro);
    border: solid 2px black;
    border-radius: 2em;
    margin-top: 5px;
}
  
.menu img {
    width: 50px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.acuracia__texto {
    background-color: rgb(61, 75, 75);
    border: solid 2px black;
    border-radius: 0.5em;
}
  
#displayImage-1 img {
    width: 100px;
    margin-top: 20px;
}

  


.container-2 {
    margin-top: 50px;
    margin-right: 6em;
}
  
.menu-2 {
    display: none;
}
  
.menu-2 img {
    width: 50px;
    margin: 10px;
    cursor: pointer;
}
  
#displayImage-2 img {
    width: 100px;
    margin-top: 20px;
}

.acuracia__texto {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 1.5em;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: rgb(174, 172, 172);
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
    background: var(--cinza);
}

::-webkit-scrollbar-button {
    background-color: var(--claro);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media screen and (max-width: 400px) {

    .cabecalho__titulo {
        font-size: 1em;
    }

    .principal__titulo {
        font-size: 1em;
    }

    

    .principal {
        text-align: center;
        display: flex;
        justify-content: space-between;
    }
      

    .imagem__campo {
        width: 50%;
        height: 50%;
        margin-top: 20px;
    } 

    .botao {
        width: 5em;
        height: 5em;
        font-size: 0.5em;
    }

    .principal__titulo {
        margin: 1em 0;
    }

    .cabecalho {
        width: 100%;
    }

    .botao__rodar {
        margin-top: 1em;
        margin-left: 1em;
        font-size: 0.8em;
    }

    .acuracia__texto {
        font-size: 0.8em;
        margin-top: 1em;
    }

    
}